* {
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat.ttf);
}

body{
   background-color:#f1f1f1ed;


}
.registro-seccion{
    background-color:#f1f1f1ed;
    margin-top: 50px;
}

h2 {
    font-size: 50px;
    color: #476a30;
    padding: 15px;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}


p {
    color: #ffffff;
    font-size: 1.15rem;
    margin-top: 0.5rem;
    padding: 1.5rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    transition: 0.5s;


}


.registro {
    font-weight: 500;
    font-size: 1.1rem;
    margin: 1.2rem;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 14vw;
    height: 7vh;
    margin-top: 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:hover,
input:focus {
    outline: none;
    border: 2px solid #3a0552;
}

.modal-nombre {
    display: flex;
    justify-content: center;
    gap: 25px;


}

.input11 {
    width: 30vw;
    height: 7vh;

}



#enviar {
    width: 18vw;
    height: 7vh;
    color: white;
    margin-top: 1.6rem;
    border-radius: 0.3rem;
    background: #798C6C;
}
@media (max-width: 600px) {
  .registro-seccion {
    font-size: 2rem;
  }
}
